#define _CRT_SECURE_NO_WARNINGS 1
#include<stdio.h>
int main()
{
	int ret = 0;
	char mima[20] = { 0 };
	printf("请输入密码:");
	scanf("%s", mima);
	getchar();
	printf("确认密码Y/N:");
	ret = getchar();
	if (ret == 'Y')
		printf("确认成功！");
	else
		printf("放弃确认！");
		

	return  0;
}
